@media screen and (max-width: 1199px) {
    header{
        .navbar-light {
            .navbar-nav {
                margin: 5px auto 0;
                max-width: 560px;
            }
        } 
    } 
}
@media screen and (max-width: 1350px) {
    .delivery{
        &-slider{
            max-width: 780px;
            margin: 0 auto;
        }
    }
}
@media screen and (max-width: 1399px) {
    .delivery{
        .slick-prev{
            left: -85px;
        }
        .slick-next{
            right: -85px;
        }
    }
}