.services{
    .template-title {
        &:after {
            background-color: $color-primary !important;
        }
    }
    .slick-slide{
        display: flex;
        justify-content: center;
    }
    // &-slider{
    //     justify-content: center;
    // }
    .card{
        display: flex;
        flex-direction: column;
        justify-content: end;
        &::before{
            content: "";
            width: 360px;
            height: 482px;
            border-radius: 20px;
            background: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0.00) 100%);
            position: absolute;
            left: 0;
            top: 0;
        }
        border-radius: 20px;
        background-color: #363A4D;
        border: none;
        align-items: flex-start;
        margin: 0 15px;
        padding: 0 23px 33px 30px;
        overflow: hidden;
        max-width: 360px;
        height: 482px;
        .card-description{
            margin-bottom: 14px;
            z-index: 1;
            color: #FFF;
            font-size: 15px;
            font-weight: 400;
            line-height: 124.5%;
        }
        .card-img{
            width: calc(100% + 40px);
            margin-left: -20px;
            margin-right: -20px;
            margin-bottom: 27px;
            position: absolute;
            left: 0;
            right: 0;
            img{
                // height: 229px;
                // object-fit: cover;
                // object-position: center;
                width: 100%;
                height: 100%;
                max-width: 360px;
                max-height: 482px;
                border-radius: 20px;
            }
        }
        .card-title{
            color: #FFF;
            text-align: center;
            font-size: 22px;
            font-weight: 700;
            line-height: 124.5%;
            margin-bottom: 12.87px;
            z-index: 1;
        }
        .card-atributes{
            display: flex;
            gap: 35px;
            margin-bottom: 8px;
            .atribute-item{
                display: flex;
                img{
                    margin-right: 8px;
                    // position: relative;
                    // top: -0.75px;
                }
            }
        }
        .card-price{
            margin-bottom: 21.19px;
            text-align: center;
            &-1{
                color: #A3A3A3;
                font-size: 22px;
                font-weight: 400;
                line-height: 124.5%;
            }
            &-2{
                color: #FFF;
                font-size: 45px;
                font-weight: 700;
                line-height: 124.5%;
            }
            &-3{
                color: #FFF;
                font-size: 22px;
                font-weight: 400;
                line-height: 124.5%;
            }
        }
        .card-button-row{
            display: flex;
            gap: 14px;
            z-index: 1;
            .btn{
                width: 148px;
                padding: 13px 10px;
                justify-content: center;
            }
        }
    }
    .template-slider{
        .slick-dots{
            margin-top: 32px;
        }
        .slick-list{
            margin: 0 -15px;
        }
    }
    .slick-arrow{
        position: absolute;
    }
    .slick-prev{
        left: -107px;
        top: 50%;
        transform: translate(0, -50%) rotate(180deg) !important;
    }
    .slick-next{
        right: -107px;
        top: 50%;
        transform: translate(0, -50%);
    }
 }