<section class="delivery">
    <div class="container">
        <div class="template-title">
            <h2>Варианты доставки грузов из Китая</h2>
        </div>
        <div class="template-slider">
            <div>
                <div class="card">
                    <div class="card-img">
                        <img src="assets/img/delivery-1.png" class="img-fluid" alt="delivery-img">
                    </div>
                    <h4 class="card-title">
                         Авто-обычная
                    </h4>
                    <div class="card-info">
                         <div class="card-atributes">
                            <div class="atribute-item">
                               <img src="assets/img/icon-calendar.svg" alt="">  9-15 дней
                            </div>
                            <div class="atribute-item">
                               <img src="assets/img/icon-box.svg" alt="">  от 5 кг
                            </div>
                         </div>
                         <div class="card-price">
                             <span class="card-price-1">от </span><strong class="card-price-2">2,5</strong><span class="card-price-3">$/кг</span>
                         </div>
                    </div>
                    <div class="card-button-row">
                        <button type="button" class="btn btn-primary">Оставить заявку</button>
                        <button type="button" class="btn btn-secondary">Подробнее</button> 
                    </div>
                </div>
            </div>
            <div>
                <div class="card">
                    <div class="card-img">
                        <img src="assets/img/delivery-2.png" class="img-fluid" alt="delivery-img">
                    </div>
                    <h4 class="card-title">
                         Авто-обычная
                    </h4>
                    <div class="card-info">
                         <div class="card-atributes">
                            <div class="atribute-item">
                               <img src="assets/img/icon-calendar.svg" alt="">  9-15 дней
                            </div>
                            <div class="atribute-item">
                               <img src="assets/img/icon-box.svg" alt="">  от 5 кг
                            </div>
                         </div>
                         <div class="card-price">
                             <span class="card-price-1">от </span><strong class="card-price-2">2,5</strong><span class="card-price-3">$/кг</span>
                         </div>
                    </div>
                    <div class="card-button-row">
                        <button type="button" class="btn btn-primary">Оставить заявку</button>
                        <button type="button" class="btn btn-secondary">Подробнее</button> 
                    </div>
                </div>
            </div>
            <div>
                <div class="card">
                    <div class="card-img">
                        <img src="assets/img/delivery-3.png" class="img-fluid" alt="delivery-img">
                    </div>
                    <h4 class="card-title">
                         Авто-обычная
                    </h4>
                    <div class="card-info">
                         <div class="card-atributes">
                            <div class="atribute-item">
                               <img src="assets/img/icon-calendar.svg" alt="">  9-15 дней
                            </div>
                            <div class="atribute-item">
                               <img src="assets/img/icon-box.svg" alt="">  от 5 кг
                            </div>
                         </div>
                         <div class="card-price">
                             <span class="card-price-1">от </span><strong class="card-price-2">2,5</strong><span class="card-price-3">$/кг</span>
                         </div>
                    </div>
                    <div class="card-button-row">
                        <button type="button" class="btn btn-primary">Оставить заявку</button>
                        <button type="button" class="btn btn-secondary">Подробнее</button> 
                    </div>
                </div>
            </div>
            <div>
                <div class="card">
                    <div class="card-img">
                        <img src="assets/img/delivery-4.png" class="img-fluid" alt="delivery-img">
                    </div>
                    <h4 class="card-title">
                         Авто-обычная
                    </h4>
                    <div class="card-info">
                         <div class="card-atributes">
                            <div class="atribute-item">
                               <img src="assets/img/icon-calendar.svg" alt="">  9-15 дней
                            </div>
                            <div class="atribute-item">
                               <img src="assets/img/icon-box.svg" alt="">  от 5 кг
                            </div>
                         </div>
                         <div class="card-price">
                             <span class="card-price-1">от </span><strong class="card-price-2">2,5</strong><span class="card-price-3">$/кг</span>
                         </div>
                    </div>
                    <div class="card-button-row">
                        <button type="button" class="btn btn-primary">Оставить заявку</button>
                        <button type="button" class="btn btn-secondary">Подробнее</button> 
                    </div>
                </div>
            </div>
            <div>
                <div class="card">
                    <div class="card-img">
                        <img src="assets/img/delivery-5.png" class="img-fluid" alt="delivery-img">
                    </div>
                    <h4 class="card-title">
                         Авто-обычная
                    </h4>
                    <div class="card-info">
                         <div class="card-atributes">
                            <div class="atribute-item">
                               <img src="assets/img/icon-calendar.svg" alt="">  9-15 дней
                            </div>
                            <div class="atribute-item">
                               <img src="assets/img/icon-box.svg" alt="">  от 5 кг
                            </div>
                         </div>
                         <div class="card-price">
                             <span class="card-price-1">от </span><strong class="card-price-2">2,5</strong><span class="card-price-3">$/кг</span>
                         </div>
                    </div>
                    <div class="card-button-row">
                        <button type="button" class="btn btn-primary">Оставить заявку</button>
                        <button type="button" class="btn btn-secondary">Подробнее</button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>