<footer id="footer">
    <div class="container" style="padding-bottom: 49px;">
        <div class="template-title"></div>

        <div class="content-part">
            <div class="info-column">
                <a class="navbar-brand" href="#">
                     <img class="brand-img" src="assets/img/logo.svg" alt="logo">
                </a>
  
                <div class="footer-adress">
                     <p>8(800)600-18-69</p>
                     <p style="text-decoration: underline; text-decoration-thickness: 0.5px;">info@cargoasia.info</p>
                     <p>Адрес в Китае:</p>
                     <p>浙江省金华市义乌市后宅街道洪华小区5</p>
                     <p>栋一单元一楼RT789库房 高建军 电话</p>
                     <p style="margin-bottom: 25px;">15966660379</p>
                </div>
  
                <div class="nav-icons">
                    <div class="nav-icon" style="margin-right: 4px;">
                      <img src="assets/img/005-instagram.svg" alt="">
                    </div>
    
                    <div class="nav-icon" style="margin: 0 4px;">
                      <img src="assets/img/015-vkontakte.svg" alt="">
                    </div>
    
                    <div class="nav-icon" style="margin-left: 4px;">
                      <img src="assets/img/telegram.svg" alt="">
                    </div>
                </div>
          </div>
  
          <div class="links-columns" style="margin-left: 90px;">
  
              <div class="link-column">
  
                  <div class="link-column-title">
                      <h2>Грузоперевозки</h2>
                  </div>
  
                  <div class="footer-link">
                      <a href="">Цены и сроки</a>
                  </div>
  
                  <div class="footer-link">
                      <a href="">Услуги</a>
                  </div>
  
                  <div class="footer-link">
                      <a href="">О компании</a>
                  </div>
  
                  <div class="footer-link">
                      <a href="">Контакты</a>
                  </div>
  
                  <div class="footer-link">
                      <a href="">Оформить груз</a>
                  </div>
  
              </div>
  
              <div class="link-column">
  
                  <div class="link-column-title">
                      <h2>Услуги</h2>
                  </div>
  
                  <div class="footer-link">
                      <a href="">Выкуп товара</a>
                  </div>
  
                  <div class="footer-link">
                      <a href="">Страховка груза</a>
                  </div>
  
                  <div class="footer-link">
                      <a href="">Аренда склада</a>
                  </div>
  
                  <div class="footer-link">
                      <a href="">Перевод денежных средств</a>
                  </div>
  
              </div>
  
              <div class="link-column">
  
                  <div class="link-column-title">
                      <h2>Информация</h2>
                  </div>
  
                  <div class="footer-link">
                      <a href="">Отзывы</a>
                  </div>
  
                  <div class="footer-link">
                      <a href="">Требования к грузу</a>
                  </div>
  
                  <div class="footer-link">
                      <a href="">Требования к грузу</a>
                  </div>
  
                  <div class="footer-link">
                      <a href="">Как заключить договор</a>
                  </div>
  
                  <div class="footer-link">
                      <a href="">Способы оплаты услуг</a>
                  </div>
  
                  <div class="footer-link">
                      <a href="">Документы</a>
                  </div>
  
                  <div class="footer-link">
                      <a href="">Статьи</a>
                  </div>
  
              </div>
  
          </div>
        </div>
    </div>
</footer>
<script src="assets/js/jquery-3.7.1.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.fancybox.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>