.nav-btn-1{
    width: 171px;
    height: 50px;
    border-radius: 90px;
    background: #E58D35;
    color: #ffff;
}
.nav-btn-1:hover{
    background-color: #89C249;
    color: #ffff;
}
.navbar-nav{
    margin: 0 auto;
    max-width: 602px;
    padding: 0;
	width: 100%;
    justify-content: space-around;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(254 254 254);
}
.navbar-brand{
    margin-right: 0;;
}
.navbar-brand{
    padding: 0;
}
.navbar{
    padding-top: 39px;
    padding-bottom: 25px;
}
.container{
    max-width: 1140px;
    width: 100%;
    padding: 0;
}
.nav-link{
    padding: 0 10px;
} 